@charset "UTF-8";

/* footer */ 
footer {
	bottom: 0%;
    left: 0;
    right: 0;
    min-width: 1400px;
    text-align: center;
    background-color: #dafbfe;
    height: 230px;
}

footer>#footerLogo{
	position: relative;
}
footer>#footerLogo>a>img{
	height: 100px;
	width: 100px;
}

footer>#footerContent {
	position: relative;
	font-size: 16px;
	font-weight: bold;
}
footer>#footerContent>span {
	color: blue;
}

footer>#footerContent>a>img {
	width: 40px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
}