@charset "UTF-8";

/* 전체 */
* { 
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box; /* 테두리를 포함한 크기 */
	text-decoration: none; /* 글자 꾸미기 X */
	font-family: sans-serif;
	list-style: none;
}
body {
	background-color: #e6ffff;
	min-width: 1400px;
	min-height: 800px;
}






