@charset "UTF-8";

.search {
	width: 400px;
	clear: both;
	margin-right: 400px;
	z-index: 1;	
}
.search #searchForm2 select {
	padding: 3px;
	position: relative;
	left: 30px;
	height: 30px;
}
.search #searchForm2 input {
	padding-left: 30px;
	height: 30px;
}
.search #searchForm2 button {
	padding: 5px;
	position: relative;
	left: -35px;
	bottom: 1px;
	height: 28px;
	border-radius: 4px;
	background-color: #e8ffff;
	border: none;
	font-weight: bold;
}

/* 검색목록창 검색 form */
.search2 {
	width: 400px;
	clear: both;
	margin-right: 400px;
	z-index: 1;	
}
.search2 #searchForm3 select {
	padding: 3px;
	position: relative;
	left: 30px;
	height: 30px;
}
.search2 #searchForm3 input {
	padding-left: 30px;
	height: 30px;
}
.search2 #searchForm3 button {
	padding: 5px;
	position: relative;
	left: -35px;
	bottom: 1px;
	height: 28px;
	border-radius: 4px;
	background-color: #e8ffff;
	border: none;
	font-weight: bold;
}

/* 헤더 검색 form */
.search3 {
	width: 400px;
	position: relative;
	top: 50px;
	left: 600px;
}
.search3 #searchForm select {
	padding: 3px;
	position: relative;
	left: 30px;
	height: 30px;
}
.search3 #searchForm input {
	padding-left: 30px;
	height: 30px;
}
.search3 #searchForm button {
	padding: 5px;
	position: relative;
	left: -35px;
	bottom: 1px;
	height: 28px;
	border-radius: 4px;
	background-color: #e8ffff;
	border: none;
	font-weight: bold;
}